@model vmRegistration_CreateTeam

@{
    ViewBag.Title = "Registration: Step 3 - TEAM OR INDIVIDUAL REGISTRATION";
}

<style>
    .register { height: 485px;}
    .register_next { bottom: 20px; overflow: hidden; position: absolute; right: 20px;}
</style>
<script>
    $(document).ready(function () {
        DG.util.initEventTab();
        $("#TeamCodeTextBox").val("");
        $("#lnkSubmit").click(function (e) {
            e.preventDefault();
            $("#CreateTeamForm").submit();
        });

        $("#reg_individual").click(function () {
            $(".register_step2").addClass("disabled");
            $(".register_teaminfo").hide();
        });
        $("#reg_team").click(function () {
            $(".register_step2").removeClass("disabled");
            $(".register_teaminfo").show();
        });
        $("#reg_existingteam").click(function () {
            $(".existing_team").show();
            $(".new_team").hide();
        });
        $("#reg_newteam").click(function () {
            $(".new_team").show();
            $(".existing_team").hide();
            $(".teamcreation_join").hide();
            $('#TeamCodeTextBox').val("");
        });

        var teamCode = '@Model.TeamCode';
        var regType = '@Model.RegistrationType';

        if (regType == 'individual'){
            $("#reg_individual").click();
        }
        else{
            $("#reg_team").click();
        }

        if ( teamCode != '' || @ViewBag.showTeamCode ){
            $("#reg_existingteam").click();
        }
        else{
            $("#reg_newteam").click();
        }        
        DG.util.columns();
    });
    
    function ValidateTeamCode() {
        if ($('#TeamCodeTextBox').val().length > 4) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ValidateTeamCode")',
                data: { eventId: "@(Model.EventId)", code: $('#TeamCodeTextBox').val() },
                success: function(data) {
                    if (data.Status == 'Failure') {
                        $('#teamCodeResultsText').html("Team Code Invalid!  Please enter a correct Code for the team you want to join.");
                        $(".teamcreation_join").hide();
                        $('#newTeamName').html("");
                    } else {
                        $('#teamCodeResultsText').html("");
                        $(".teamcreation_join").show();
                        $('#newTeamName').html(data.Name);
                    }
                },
                error: function(xmlHttpRequest, textStatus, errorThrown) {
                    $('#teamCodeResultsText').html("Team can not be verified at this time.");
                    alert(textStatus + errorThrown);
                }
            });
        } else {
            $('.teamCodeResultsText').html("Please enter a valid Team Code to Join a team.");
        }
    }
</script>

<div id="eventDetail" class="createTeamContainer">
    <div class="pinkborder_left">
        <div id="eventDetailContainer">
            @Html.Partial("_Hero")
            @{Html.RenderPartial("EventHeader", Model.EventOverview);}
            <div id="eventDetailContent" class="twoColumn">
                <div class="contentMain">

                    @using (Html.BeginForm("createteam", "registration", new { itemId = Model.ItemId }, FormMethod.Post, new { id = "CreateTeamForm" }))
                    {                  
                        <div class="contentMain_copy register">

                            <h1 class="reg-steps"><span>STEP 3:</span> TEAM OR INDIVIDUAL REGISTRATION</h1>
                            <div class="reg-indicator step-3"></div>

                            @Html.ValidationSummary(false, "Please address the following Errors")
                            @Html.HiddenFor(x => x.EventId)
                                                      
@*                            <div class="registration_steps">
                                <img src="@Url.Content("~/images/reg_progress1.png")" />
                            </div>*@
                            <div class="register_step1">
                                <p>Are you registering with a team or as an individual? </p>
                                <div class="radiobuttons">
                                    <p>@Html.RadioButtonFor(x => x.RegistrationType, "individual", new { name = "step1", id = "reg_individual" })<label for="reg_individual">As an Individual</label></p>
                                    <p>@Html.RadioButtonFor(x => x.RegistrationType, "team", new { name = "step1", id = "reg_team" })<label for="reg_team">With a Team</label></p>                                                                   
                                </div>
                            </div>
                            <div class="register_step2">
                                <p>Are you joining an existing team or creating a new team?  </p>
                                <div class="radiobuttons">
                                    <p>@Html.RadioButtonFor(x => x.TeamType, "new", new { name = "step2", id = "reg_newteam" })<label for="reg_newteam">I’m creating a new team</label></p>
                                    <p>@Html.RadioButtonFor(x => x.TeamType, "existing", new { name = "step2", id = "reg_existingteam" })<label for="reg_existingteam">I’m joining an existing team</label></p>                                                                    
                                </div>
                                <div class="register_step3">
                                    <div class="existing_team">
                                        <div class="single_input">
                                            <p><span class="pink">*</span>Please enter your Team Code</p>
                                            @Html.TextBoxFor(x => x.TeamCode, new {id = "TeamCodeTextBox", onkeyup = "ValidateTeamCode()"})
                                            @Html.ValidationMessageFor(x => x.TeamCode, "*")                                            
                                        </div>
                                        <div id="teamCodeResults" style="position:relative">
                                            <p id="teamCodeResultsText" class="error">&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="new_team">
                                        <div class="single_input">
                                            <p><span class="pink">*</span>Enter team name</p>
                                            @Html.TextBoxFor(x => x.TeamName)
                                            @Html.ValidationMessageFor(x => x.TeamName, "*")
                                            <p>If you are creating a team, each team member will still need to register.</p>
                                        </div>                 
                                    </div>
                                </div>
                                <div class="disable_div">&nbsp;</div>
                            </div>
                            <div class="register_teamcreation_copy">
                                <div class="teamcreation_join hide">
                                    <div class="jointeam_container">
                                        <h3 id="newTeamName"></h3><h5>TEAM: </h5>
                                    </div>
                                    <p>No. This isn't my team. Enter Team Code again.</p>
                                </div>
                            </div>
                            <div class="register_next">  
                                <div class="register_next_button">
                                    <a href="#" id="lnkSubmit" class="proceed">NEXT</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="contentSidePanel">
                    <div class="contentSidePanel_top">&nbsp;</div>
                    <div class="contentSidePanel_side">
                        <div class="contentSideFaq">
                            <h3>FAQ</h3>
                            <p class="bold">What if my team name is taken?  </p>
                            <p>Team names are special and we want to keep them that way! Duplicate team names are not accepted, so be creative and create a team name that is unique.</p>
                            <p class="bold">Can I register now and create a team name later?  </p>
                            <p>Yes. You must register as an individual then later log in to your Dirty Girl profile and edit your registration. You can then switch to a team member and add a team name.  However, some team names go quickly, so do not wait too long!</p>
                            <p class="bold">How do I register with an existing team? </p>
                            <p>Registering with an existing team is easy. As you proceed through the registration process, you will register ‘with a team’ then click ‘I’m joining an existing team’. You will be asked to enter the team code provided to you by the person who created the team. If you are not aware of the code, please ask the person who created the team.</p>
                            <p class="bold">How do I register a new team?</p>
                            <p>The team captain will register first and create the team name by following the steps below:</p>
                            <ul>
	                            <li>Select the wave (start) time for the team</li>
	                            <li>In Step 3 of the registration, choose the option to register ‘with a team’ and then ‘I’m creating a new team’</li>
	                            <li>Enter your team’s name in the box and click next</li>
	                            <li>Once you complete your registration, you will be able to invite people to join your team</li>
	                            <li>You’ll be given a team code that you can share with your team members</li>
                            </ul>
                            <p>*Each participant will register individually</p>
                            <p class="bold">My team name is not accepted, why not?  </p>
                            <p>Team names need to be unique so duplicate team names are not accepted. This is also a family friendly event, so keep it clean ladies!</p>                          
                            <p class="bold">I am a cancer survivor can I get free admission?  </p>
                            <p>We are happy to give out 300 complimentary registrations to survivors at each event. These spots are open to any type of cancer survivors at no charge, and we base this on the honor system. We trust you, so let’s keep that trust :) In Step 4 of the registration process select the option to register as a ‘cancer survivor’. </p>
                        </div>
                    </div>
                    <div class="contentSidePanel_bottom">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pinkborder_bottom">&nbsp;</div>
</div>