@model vmRegistration_EventSelection

@{
    ViewBag.Title = "ChangeEvent";
}

<style>
    .register_next_copy p { text-align: right;}
</style>
<div id="eventDetail">
    <div class="pinkborder_left">
        <div id="eventDetailContainer">
            @Html.Partial("_Hero")
            @{Html.RenderPartial("EventHeader", Model.EventOverview);}
            <div id="eventDetailContent" class="twoColumn">
                <div class="contentMain">
                    <div class="contentMain_copy register wave">

                        <div class="registration_wave">
                            <div class="wave_header">
                                @switch (Model.CartFocus)
                                {
                                    case CartFocusType.Registration:
                                        <h1 class="reg-steps"><span>STEP 2:</span> PICK YOUR WAVE</h1>
                                        <div class="reg-indicator step-2"></div>
                                        break;
                                    case CartFocusType.ChangeWave:
                                        <h1 class="reg-steps"><span>STEP 2:</span> PICK YOUR WAVE</h1>
                                        <div class="reg-indicator step-2"></div>
                                        <p>Please select a new wave from the spots available below.</p>
                                        break;
                                    case CartFocusType.ChangeEvent:
                                        <h1 class="pink" style="margin:0 0 10px;">CHANGE YOUR RUN</h1>
                                        <p>To change your Dirty Girl run, first select a different event and date below. Then, select an open wave spot and continue to check out to complete your run change.</p>
                                        break;
                                }
                            </div>
                            <div class="wave_category">
                                <table>
                                    <tr>
                                        @*<td><p>Select Event:</p></td>*@
                                        @{if(Model.EventDateCount > 1) { 
                                            <td><p>Select Date:</p></td>
                                        }}
                                    </tr>
                                    <tr>
@*                                        <td>
                                            @(Html.Kendo().DropDownListFor(x => x.EventId)
                                                .Name("ddlEvent")
                                                .OptionLabel("Select")
                                                .DataTextField("Name")
                                                .DataValueField("EventId")
                                                .DataSource(source => source.Read(read => read.Action("geteventlist", "registration")))
                                                .Events(evts => evts.Change("onEventChange").DataBound("onEventDataBound"))
                                                .HtmlAttributes(new { style = "width:250px" }))       
                                        </td>*@
                                        <td>
                                        @{if(Model.EventDateCount > 1) {
                                            @(Html.Kendo().DropDownListFor(x => x.EventDateId)
                                                .Name("ddlEventDate")
                                                .OptionLabel("Select")
                                                .DataTextField("DateOfEvent")
                                                .DataValueField("EventDateId")
                                                .DataSource(source => source
                                                    .Read(read => read.Action("GetEventDateList", "Registration", new { eventId = @Model.EventId }))
                                                )
                                                //.Enable(false)
                                                //.AutoBind(false)
                                                .CascadeFrom("ddlEvent")
                                                .Events(evt => evt.Change("onEventDateChange")))
                                        }}
                                        </td>
                                    </tr>
                                </table>                                                                           
                            </div>
                            <div id="waveList" class="wave_content">
                                @{Html.RenderAction("GetWavesByEventDateId", new { eventDateId = Model.EventDateId });}
                            </div>                            
                        </div>
                        <div class="register_next">
                            <div class="register_next_copy">
                                <p>You have selected: <span id="SelectedWave">no wave selected</span></p>
                                <p class="red hide" style="position: absolute; text-align: left; top: 15px;">no wave selected!  Please click on a wave to select it.</p>
                            </div>
                            <div class="register_next_button">
                                <a href="#" id="lnkWaveSelected" class="proceed">NEXT</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contentSidePanel eventSelection">
                    <div class="contentSidePanel_top">&nbsp;</div>
                    <div class="contentSidePanel_side">
                        <div class="contentSideFaq">
                            <h3>FAQs</h3>
                            <p class="bold">What happens if the wave I want is sold out?  </p>
                            <p>Each wave has a space for 300 participants and once a wave is full, it is sold out. If others still need to register, those already signed up can edit their registrations online and switch in to another open wave that day.</p>
                            <p class="bold">What happens if the wave my team is on is sold out? </p>
                            <p>The best way to ensure each member is in the same wave is have everyone register as early as possible.  Each wave has a limited amount space and the status will be indicated on the registration page for sold waves out or if there are 75 or fewer spots remaining. Anyone who is already registered has the ability to switch to another open wave that day if there is still space available. </p>
                            <p class="bold">Can I reserve spots for friends and team members?</p>
                            <p>We understand how important it is to be with your friends and family during a Dirty Girl Mud Run However, for safety and security reasons, they must each register individually. Spots are first come, first serve and cannot be reserved.</p>
                            <p class="bold">How many spots are in a wave and how many are left?  </p>
                            <p>For safety reasons, we limit each wave to 300 spots.  During registration, you will be able to see if a wave is open, nearly full with 75 or fewer spots left, or sold out.  Sign up early to ensure you get the wave you want. </p>
                            <p class="bold">Can I change my wave after I register?  </p>
                            <p>Yes, but each wave has a limited amount of space and once a wave is full it is sold out. If anyone cancels her registration it will open that spot back up so you can always keep an eye on the registration page. You can select any open wave to switch in to. To edit your wave, you will need to log on to your account with Dirty Girl and select the option to ‘edit registration’ and from there you can select a new wave time. </p>
                        </div>
                    </div>
                    <div class="contentSidePanel_bottom">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pinkborder_bottom">&nbsp;</div>
</div>

<form id="frmWaveSelected" action="@Url.Action("WaveSelected", "registration")" method="POST">
    @Html.HiddenFor(x => x.EventWaveId)
    @Html.HiddenFor(x => x.ItemId)
    @Html.HiddenFor(x => x.LockEvent)
    @Html.HiddenFor(x => x.ReturnToRegistrationDetails)
</form>


<script type="text/javascript">

    $(document).ready(function () {

        DG.util.initEventTab();

        $(".wave_time").height($(".wave_time").next().innerHeight() - 20);

        $("#lnkWaveSelected").click(function (e) {
            e.preventDefault();
            if ($('#SelectedWave').text().indexOf("no wave selected") >= 0) {
                $(".register_next_copy p:last").show();
            } else {
                $("#frmWaveSelected").submit();
            }
        });       

        enableWaves();

        var id = $("#EventWaveId").val();
        if (id != '' && id != 0) {
            $("#" + id).removeClass("selected").addClass("selected");
            $(".register_next_button a").removeClass("proceed").addClass("proceed");
            $("#EventWaveId").val(id);

            var selectedWaveNumber = $("#WaveNumber_" + id).text();
            var selectedWaveTime = $("#WaveTime_" + id).text();

            $("#SelectedWave").text(selectedWaveNumber + " at " + selectedWaveTime);
        }

        var isLocked = $("#LockEvent").val();
        if (isLocked == "True") {
            $("#ddlEvent").data("kendoDropDownList").enable(false);
        }
    });

    function filterEventDates() {
        return { eventId: $('#ddlEvent').val()};
    }

    function onEventChange(e) {
        $('#waveList').slideUp("fast", function () {
            DG.util.columns();
        });
        $("#EventNameTitle").html($("#ddlEvent").data("kendoDropDownList").dataSource._data[$("#ddlEvent").data("kendoDropDownList").selectedIndex - 1].Name);
        
    }

    function onEventDataBound(e) {
        $("#EventNameTitle").html($("#ddlEvent").data("kendoDropDownList").dataSource._data[$("#ddlEvent").data("kendoDropDownList").selectedIndex - 1].Name);
        DG.util.columns();
    }

    function onEventDateChange(e) {

        var eventDateId = $("#ddlEventDate").data("kendoDropDownList").value();       
        
        $('#waveList').slideUp("fast", function () {
            DG.util.columns();
        });

        $.ajax({
            url: "@Url.Action("GetWavesByEventDateId", "Registration")",
            data: { eventDateId: eventDateId },
            beforeSend: function () {
                $('#waveList').slideDown("slow", function () {
                    DG.util.columns();
                });
                $('.wave_content').html(function () {
                        return '<img style="text-align:center;" src="../Images/ajax-loader1.gif"/>';
                });
                
            },
            success: function (data) {
                $(".wave_content").html(data);
                $("#SelectedWave").text("no wave selected");
                enableWaves();
                DG.util.columns();
            }
        });

        $(".register_next_button a").removeClass("proceed");       
        
    };

    function enableWaves() {
        $(".clickarea").click(function (e) {

            e.preventDefault();

            $(".clickarea.selected").removeClass("selected");
            $(this).addClass("selected");
            $(".register_next_button a").removeClass("proceed").addClass("proceed");

            $("#EventWaveId").val(this.id);

            var selectedWaveNumber = $("#WaveNumber_" + this.id).text();
            var selectedWaveTime = $("#WaveTime_" + this.id).text();

            $("#SelectedWave").text(selectedWaveNumber + " at " + selectedWaveTime);
        });
    }

</script>