@model vmRegistration_Transfer
@{
    ViewBag.Title = "Transfer Registration";
}

<div id="eventDetail">
    <div class="pinkborder_left">
        <div id="eventDetailContainer">
            @Html.Partial("_Hero")
            @{Html.RenderPartial("EventHeader", Model.EventOverview);}
            <div id="eventDetailContent" class="twoColumn">
                <div class="contentMain">
                    @using (Html.BeginForm("transfer", "registration", new { itemId = Model.ItemId }, FormMethod.Post, new { id = "CreateTeamForm" }))
                    { 
                    <div class="contentMain_copy register form">
                        <h1 class="pink">TRANSFER YOUR RUN</h1>
                        <p style="font-size: 14px; font-weight:normal;">To transfer your Dirty Girl registration to a friend, please enter your friend’s name and email address below. We’ll then shoot her an email with details on how to pick up your registration. </p>
                        <p style="font-size: 10px; font-weight:normal;">*Please note that when transferring to a friend, your spot in this run will only held for 72 hours from the time you submit the transfer. If your friend doesn’t pick up your registration within 72 hours, your registration will be cancelled and you’ll be given compensation code to use on a different run.</p>
                        @Html.ValidationSummary(false, "Please address the following Errors")                            
                        <div class="registration_form_content">
                            <p style="font-weight:normal;">*Required Fields</p>
                            <div class="single_row">
                                <div class="single_input text">
                                    <p><span class="pink">*</span>First Name:</p>
                                    @Html.TextBoxFor(x => x.FirstName)
                                    @Html.ValidationMessageFor(x => x.FirstName, "*")
                                </div>
                                <div class="single_input text">
                                    <p><span class="pink">*</span>Last Name:</p>
                                    @Html.TextBoxFor(x => x.LastName)
                                    @Html.ValidationMessageFor(x => x.LastName, "*")
                                </div>
                            </div>
                            <div class="single_row">
                                <div class="single_input text">
                                    <p><span class="pink">*</span>Email:</p>
                                    @Html.TextBoxFor(x => x.Email)
                                    @Html.ValidationMessageFor(x => x.Email, "*")
                                </div>
                                <div class="single_input text">
                                    <p><span class="pink">*</span>Confirm Email:</p>
                                    @Html.TextBoxFor(x => x.ConfirmationEmail)
                                    @Html.ValidationMessageFor(x => x.ConfirmationEmail, "*")
                                </div>
                            </div>
                        </div>
                        <div style="overflow:hidden;">
                            <input type="submit" value="SUBMIT" class="btnPink" style="float:right;" />
                        </div>
                    </div>                   
                    
                    }
                </div>
                <div class="contentSidePanel">
                    <div class="contentSidePanel_top">&nbsp;</div>
                    <div class="contentSidePanel_side">
                        <div class="contentSideFaq">
                            <h3>FAQ</h3>
                            <p class="bold">What is the cancellation policy?  </p>
                            <p>We have a strict no refund policy and refunds will not be issued under any circumstances. If you are simply unable to make it you do have options. You can either transfer your registration to someone else or apply your registration to another Dirty Girl Mud Run. Applicable fees will be charged.</p>
                            <p class="bold">Can I switch my dates?</p>
                            <p>Yes! To change your event date, log on to your Dirty Girl account</p>
                            <ul>
                                <li>Go to ‘My Profile’ and next to your event, click ‘Edit My Run’</li>
                                <li>Select the option to ‘Change My Run’</li>
                                <li>Select the new date and wave time you would like</li>
                            </ul>
                            <p>* There is a $5 charge to switch your event date</p>
                            <p class="bold">Can I transfer my registration to another person?</p>
                            <p>To transfer your registration to another person, you will need to log on to your Dirty Girl account.</p>
                            <ul>
	                            <li>Go to ‘My Profile’, and select the option to ‘Edit My Run’</li>
	                            <li>Click on the option to ‘Transfer My Registration to a Friend’</li>
	                            <li>You will need to fill out the information of the participant who you are transferring your registration to and we will email them instructions on how to pick up your registration</li>
                            </ul>
                            <p>* Please note that when transferring to a friend, your spot in this run will only held for 72 hours from the time you submit the transfer. If your friend does not pick up your registration within 72 hours, your registration will be cancelled and you’ll be given compensation code to use on a different run.</p>
                            <p>* There is a $15 fee to transfer your registration.</p>                            
                            <p class="bold">How much is the registration fee?</p>
                            <p>Registration fees vary and increase as the run date approaches. Please see your specific event for current registration fees.</p>
                            <table>
	                            <tr><td style="width:130px;">Early Registration</td><td>$65</td></tr>
	                            <tr><td>Registration</td><td>$75</td></tr>
	                            <tr><td>Late Registration</td><td>$85</td></tr>
	                            <tr><td>Final Registration</td><td>$100</td></tr>
	                            <tr><td>Cancer Survivor</td><td>300 FREE spots available at every event</td></tr>
                            </table>
                            <p>*All registration fees are per person, we do not have group rates.</p>
                            <p class="bold">What is a coupon code, can I get a discount?</p>
                            <p>Coupon codes may occasionally be available from sponsors for specific promotions.  Unless you have that code from a sponsor or promotion, there may not be one available.  We are unable to give coupon codes to registrants. </p>
                            <p class="bold">Is there a discount for service women?</p>
                            <p>Yes, we offer a $10 discount to service women! You must have your ID with you at check in. To redeem your discount, enter the coupon code DGserves_2013 when prompted during the registration process. This is for service women only. Please respect the policy. Thank you.</p>
                        </div>
                    </div>
                    <div class="contentSidePanel_bottom">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pinkborder_bottom">&nbsp;</div>
</div>

