@model CartCheckOut
@{    
    ViewBag.Title = "Check Out";
}

<script>
    $(document).ready(function () {
        $('#frmMakePayment').data('validator').settings.ignore = '';
    });
</script>

<div id="eventDetail">
    <div class="pinkborder_left">
        <div id="eventDetailContainer">
            @Html.Partial("_Hero")
            <div id="eventDetailContent" class="twoColumn">
                <div class="contentMain">
                    

                    <div id="checkoutContainer">
                        <div id="cartSummary">
                            <h1 class="reg-steps"><span>STEP 5:</span> REVIEW AND PAYMENT</h1>
                            <div class="reg-indicator step-5"></div>

                            @{Html.RenderPartial("Partial/CartDisplay", @Model.CartSummary);}
                        </div>        
                        <div class="summary_separator">
                            <img src="@Url.Content("~/images/img_separator_lg.png")" width="700" />
                        </div>               
                        
                        <div id="cartPayment">
                            @using (Html.BeginForm("checkout", "cart", null, FormMethod.Post, new { id = "frmMakePayment" }))
                            {
                                 @Html.ValidationSummary(false, "Please address the following errors");
                                
                                if (Model.CartSummary.TotalCost > 0)
                                {                               
                                <div class="payment_form">
                                    <h2>PAYMENT</h2>
                                    <div class="payment_form_content">                                        
                                        <div class="single_row">
                                            <div class="single_input cardnumber">
                                                <p>Credit Card Number:</p>
                                                @Html.TextBoxFor(x => x.CardNumber)
                                                @Html.ValidationMessageFor(x => x.CardNumber, "*")  
                                            </div>     
                                            <div class="single_input ccv">
                                                <p><span class="pink">*</span>CCV [<a class="pink tooltip" href="#footer" title="CCV are three or four-digit number on the back of a credit card (on the front for American Express)">?</a>]</p>
                                                @Html.TextBoxFor(x => x.CCVNumber,null, new { @autocomplete = "off"})
                                                @Html.ValidationMessageFor(x => x.CCVNumber, "*")
                                            </div>                                       
                                            <div class="single_input expdate">
                                                <p><span class="pink">*</span>Expiration Date</p>
                                                @(Html.Kendo()
                                                    .DropDownListFor(x => x.ExpirationMonth)
                                                    .BindTo(Model.ExpirationMonthList)
                                                    .OptionLabel("Select Month")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                )
                                                @Html.ValidationMessageFor(x => x.ExpirationMonth, "*")
                                                @(Html.Kendo()
                                                    .DropDownListFor(x => x.ExpirationYear)
                                                    .OptionLabel("Select Year")
                                                    .BindTo(Model.ExpirationYearList)
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                )
                                                @Html.ValidationMessageFor(x => x.ExpirationYear, "*")
                                            </div> 
                                        </div>     
                                        <div class="single_row">
                                            <div class="single_input cardnumber">
                                                <p><span class="pink">*</span>Cardholder First Name</p>
                                                @Html.TextBoxFor(x => x.CardHolderFirstname)
                                                @Html.ValidationMessageFor(x => x.CardHolderFirstname, "*")
                                            </div>
                                            <div class="single_input cardnumber">
                                                <p><span class="pink">*</span>Cardholder Last Name</p>
                                                @Html.TextBoxFor(x => x.CardHolderLastname)
                                                @Html.ValidationMessageFor(x => x.CardHolderLastname, "*")
                                            </div>
                                            <div class="single_input zip">
                                                <p><span class="pink">*</span>Cardholder Zip</p>
                                                @Html.TextBoxFor(x => x.CardHolderZipCode)
                                                @Html.ValidationMessageFor(x => x.CardHolderZipCode, "*")
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                }
                                <div style="text-align:right;">
                                    <input type="submit" value="Finish" class="btnPink" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="contentSidePanel">
                    <div class="contentSidePanel_top">&nbsp;</div>
                    <div class="contentSidePanel_side">
                        <div class="contentSideFaq">
                            <h3>FAQ</h3>
                            <p class="bold">What is the cancellation policy?  </p>
                            <p>We have a strict no refund policy and refunds will not be issued under any circumstances. If you are simply unable to make it you do have options. You can either transfer your registration to someone else or apply your registration to another Dirty Girl Mud Run. Applicable fees will be charged.</p>
                            <p class="bold">Can I switch my dates?</p>
                            <p>Yes! To change your event date, log on to your Dirty Girl account</p> 
                            <ul>
                                <li>Go to ‘My Profile’ and next to your event, click ‘Edit My Run’</li>
                                <li>Select the option to ‘Change My Run’</li>
                                <li>Select the new date and wave time you would like</li>
                            </ul>
                            <p>* There is a $5 charge to switch your event date</p>
                            <p class="bold">Can I transfer my registration to another person?</p>
                            <p>To transfer your registration to another person, you will need to log on to your Dirty Girl account.</p>
                            <ul>
                                <li>Go to ‘My Profile’, and select the option to ‘Edit My Run’</li>
                                <li>Click on the option to ‘Transfer My Registration to a Friend’</li>
                                <li>You will need to fill out the information of the participant who you are transferring your registration to and we will email them instructions on how to pick up your registration</li>
                            </ul>
                            <p>* Please note that when transferring to a friend, your spot in this run will only held for 72 hours from the time you submit the transfer. If your friend does not pick up your registration within 72 hours, your registration will be cancelled and you’ll be given compensation code to use on a different run.</p>
                            <p>* There is a $15 fee to transfer your registration.</p>
                            <p class="bold">How much is the registration fee?</p>
                            <p>Registration fees vary and increase as the run date approaches. Please see your specific event for current registration fees.</p> 
                            <table>
                                <tr><td style="width:107px">Early Registration</td><td>$65</td></tr>
                                <tr><td>Registration</td><td>$75</td></tr>
                                <tr><td>Late Registration</td><td>$85</td></tr>
                                <tr><td>Final Registration</td><td>$100</td></tr>
                                <tr><td>Cancer Survivor</td><td>300 FREE spots available at every event</td></tr>
                            </table>
                            <p>All registration fee are per person, we do not have group rates.</p> 

                            <p class="bold">What is a coupon code, can I get a discount?</p>
                            <p>Coupon codes may occasionally be available from sponsors for specific promotions. Unless you have that code from a sponsor or promotion, there may not be one available.  We are unable to give coupon codes to registrants. </p>
                            <p class="bold">Is there a discount for service women?</p>
                            <p>Yes, we offer a $10 discount to service women! You must have your ID with you at check in. To redeem your discount, enter the coupon code DGserves_2013 when prompted during the registration process. This is for service women only. Please respect the policy. Thank you.</p>
                        </div>
                    </div>
                    <div class="contentSidePanel_bottom">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pinkborder_bottom">&nbsp;</div>
</div>    
<script type="text/javascript">

</script>







    











