@model DirtyGirl.Web.Models.vmPasswordReset
@{
    ViewBag.Title = "PasswordResetRequest";
}


<div id="eventDetail">
    <div class="pinkborder_left">
        <div id="eventDetailContainer">
            @Html.Partial("_Hero")
            <div id="eventDetailContent" class="oneColumn">
                <div class="contentMain">
                    <div class="contentMain_copy register form">
                        <div class="registration_form">
                            <div class="registration_form_content">
                                <h2 class="pink">Password Reset Request</h2>
                                <br />
                                @if (Model.User != null && Model.ResetToken != null)
                                {
                                    using (Html.BeginForm("PasswordResetRequest", "Authorize"))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                        @Html.HiddenFor(x => x.ResetToken)
                                        <div class="single_row">
                                            <div class="single_input">
                                                <p>Password</p>
                                                @Html.PasswordFor(m => m.Password)
                                            </div>
                                            <div class="single_input">
                                                <p>Confirm Password</p>
                                                @Html.PasswordFor(m => m.ConfirmPassword)
                                            </div>
                                        </div>
                                        <input class="btnPink" type="submit" value="submit" />
                                        
                                    }
                                }
                                else
                                {
                                    <p>Invalid Code!  If you feel this is in error, please contact support.  @Html.ActionLink("Dirty Girl Home", "Index", "Home")</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pinkborder_bottom">&nbsp;</div>
</div>



