@model vmHomePage
@{
    ViewBag.Title = "Home Page";
}
<script>
    $(document).ready(function () {
        DG.util.initPin();
        DG.util.initMapTab();
        DG.util.getFaqUrl();
        DG.util.getInfoUrl();
        DG.util.eventListScroller();
        //$("#mcs_container").mCustomScrollbar("vertical", 400, "easeOutCirc", 1.05, "auto", "yes", "yes", 10);
    });

</script>
<style>
    #mcs_container, #mcs_container .dragger_container
    {
        height: 518px;
    }

    #content
    {
        z-index: 99999;
    }
</style>
<div id="registration">
    <div id="registration_map">
        <div class="registration_map_content">
            @foreach (var location in Model.EventDateDetails)
            {
                <div class="single_location" style="position: absolute; left: @string.Format("{0}px", @location.PinXCoordinate); top: @string.Format("{0}px", @location.PinYCoordinate);">
                    <div class="single_location_content">
                        <div class="pin"><a href="@location.EventUrl">&nbsp;</a></div>
                        <div class="popup">
                            <div class="popup_content">
                                <h3>@location.City, @location.State</h3>
                                <p>@location.DateOfEvent.ToString("MMMM dd, yyyy")</p>
                                <p>Cost: $@location.CurrentCost</p>
                                <div class="body-openings">
                                    @if (!location.isRegistrationCutoff)
                                    {
                                        if (location.SpotsLeft <= @DirtyGirlConfig.Settings.DisplaySpotsAvailableCount)
                                        {
                                            if (location.SpotsLeft > 0)
                                            {
                                                <p>Only <span class="white">@location.SpotsLeft</span> spots left!</p>
                                            }
                                            else
                                            {
                                                <p>Sold Out!</p>
                                            }
                                        }
                                        else
                                        {
                                            <p>Spots available!</p>
                                        }
                                    }
                                    else
                                    {
                                        <p>Registration Closed</p>                                                    
                                    }
                                     
                                </div>
                                <a href="@location.EventUrl"><img src="@Url.Content("~/images/map-viewevent.png")" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="registration_map_copy">
            <div class="registration_map_copy_content">
                <h3>Run, walk, climb, crawl and of course, get dirty! </h3>
                <p>With so many events across the US, there is probably a Dirty Girl Mud Run in your hometown, right down the road or just far enough to make it a great girls weekend!</p>
                <p>Click on the map pins for specific event details or check the event schedule below for a list of all upcoming runs. We look forward to seeing you at a Dirty Girl Mud Run soon!</p>
            </div>
        </div>
        <div class="registration_map_viewschedule">
            <a href="#EventList">
                <img src="@Url.Content("~/images/btn_viewschedule.png")" /></a>
        </div>
    </div>
    <div id="registration_list">
    <div id="registration_list_content">
        <div id="registration_list_nav">
            <div id="registration_list_nav_content">
                <a href="#" class="nav-schedule active">EVENT SCHEDULE</a>
                <a href="#" class="nav-info">EVENT INFO</a>
                <a href="#" class="nav-faq">FAQ</a>
            </div>
        </div>
        <a id="EventList"></a>
        <div id="registration_list_content_container">
            <div class="registration_list_singlecontent reg-eventschedule">                         
                <div class="eventschedule_filter">
                    <form id="filterForm" >     
                        <div class="eventschedule_filter_content">
                            <h4>Filter:</h4>
                            <div class="single_filter">
                                <p>State:</p>
                                <div class="custom_dropdown">
                                    @Html.DropDownList("RegionId", Model.RegionList, new { @class = "filterItem" })                                         
                                    <img src="@Url.Content("~/images/arrow_select.png")" />
                                </div>
                            </div>
                            <div class="single_filter">
                                <p>Month:</p>
                                <div class="custom_dropdown">
                                    @Html.DropDownList("Month", Model.MonthList, new { @class = "filterItem" })
                                    <img src="@Url.Content("~/images/arrow_select.png")" />
                                </div>
                            </div>
                            <div class="single_filter">
                                <p>Year:</p>
                                <div class="custom_dropdown">
                                    @Html.DropDownList("Year", Model.YearList, new { @class = "filterItem" })
                                    <img src="@Url.Content("~/images/arrow_select.png")" />
                                </div>
                            </div>
                            @Html.Hidden("SortBy", "Date")
                            @Html.Hidden("DirectionOfSort")
                        </div>
                    </form>
                </div>
                <div class="eventschedule_content">
                    <div class="eventschedule_content_header">
                        <div class="header-date">
                            <h5><a id="lnkDate" href="#">DATE</a></h5>
                        </div>
                        <div class="header-location">
                            <h5><a id="lnkLocation" href="#">LOCATION</a></h5>                                
                        </div>
                        <div class="header-where">
                            <h5>WHERE</h5>
                        </div>
                        <div class="header-cost">
                            <h5>COST</h5>
                        </div>
                        <div class="header-openings">
                            <h5>RUN OPENINGS</h5>
                        </div>
                    </div>                            
                    <div id="EventDetail_List" class="eventschedule_content_body">  
                        <div class="landingScroll landingSchedule">
                            @Html.Partial("Partial/EventList", Model.EventDateDetails)
                        </div>
                    </div>
                </div>
            </div>
            <div class="registration_list_singlecontent reg-eventinfo hide">
                <div class="reg-eventinfo_content">
                    <div class="landingScroll landingInfo">
                        <h3>EVENT DAY INSTRUCTIONS</h3>
                        <h5>PACKET PICK-UP</h5>
                        <p>We ask that you show up a minimum of 1 hour before your respective wave starts in order to pick up your event goodies. You will need a photo ID for check-in. If you’re under 16 and you do not have a photo ID, no worries, just bring a printout of your registration. When you check in you will receive your Dirty Girl bib# with safety pins, a super cool Dirty Girl charm necklace and a unique one-of-a kind Dirty Girl female specific shirt. You will need to secure the bib to the front of your shirt using the provided safety pins.</p>
                        <p>Please note, you can only pick up your things the day of at check in and they are not mailed out prior. If you are not able to make it, someone can pick up your shirt/necklace for you and will just need a copy of your registration confirmation. <b>Sorry ladies, but shirts and necklaces will not be shipped out after the event so plan accordingly</b>. </p>
                        <h5>PARKING</h5>
                        <p>What’s cooler than a day in the mud? Well, obviously nothing. But free parking is pretty cool, too. Most Dirty Girl Mud Runs have free parking but space will be limited so go green, save some gas money and carpool!</p>
                        <h5>WHAT TO WEAR</h5>
                        <p>We encourage you to wear anything you feel comfortable racing in– anything. Like to run in your bikini? Fine. It just has to be anything you don’t mind getting dirty. We do, however, recommend a solid pair of running shoes, towels, a garbage bag, and a change of clothes. And since dirt and sunburns don’t mix, plan ahead by packing some waterproof sunscreen.</p>
                        <h5>THINGS TO BRING</h5>
                        <p><b>Proper footwear</b>. Leave the stilettos at home. We recommend a lightly used trail shoe with decent tread to help get you up, over, around, and through our obstacles. Feel free to donate your unwanted shoes because we have an awesome team who will clean, sanitize and send those shoes all over the world to be reused in developing countries. </p>
                        <p><b>Proper clothing</b>. Dress for the elements and for being active and muddy. </p>
                        <p><b>Cash</b>. Don’t forget cash for libations and local fare which will be available in our Expo Village.</p>
                        <p><b>Change of clothes/towel</b>. We will have a secure bag check, so you can leave your change of clothes/towel with us while you participate and retrieve after. If you’d like to hose yourself down and tidy-up before hitting the Expo Village and getting your party on, a rinse station and enclosed changing tent will be available. Ladies, it is not a shower, it is a rinse station. The goal here is to get the majority of the mud off, not to be squeaky clean. A word to the wise, bring an old towel and garbage bag for all your wet and Dirty clothing. Please leave your valuables at home.</p>
                        <p><b>Great attitude!</b> This will be the most fun you have all year.</p>
                        <p>No outside alcoholic beverages or glass bottles allowed</p>
                    </div>
                </div>
            </div>
            <div class="registration_list_singlecontent reg-faq hide">
                <div class="reg-faq_content">
                    <div class="landingScroll landingFaq">
                        <h3>FAQ</h3>
                        <h5>What do I get with my registration fee?</h5>
                        <p>In addition to the time of your life, your registration fee entitles you to a Dirty Girl tee-shirt, a Dirty Girl silhouette charm and other cool stuff like music, entertainment, and the benefit of knowing that you are helping the National Breast Cancer Foundation in the fight against cancer.</p>

                        <h5>How much is the registration fee?</h5>
                        <p>Registration fees vary and increase as the run date approaches. Please see your specific event for current registration fees.</p>
                        <table>
                            <tr><td style="width:130px;">Early Registration</td><td>$65</td></tr>
                            <tr><td>Registration</td><td>$75</td></tr>
                            <tr><td>Late Registration</td><td>$85</td></tr>
                            <tr><td>Final Registration</td><td>$100</td></tr>
                            <tr><td>Cancer Survivor</td><td>300 FREE spots available at every event</td></tr>
                        </table>
                        <p>*All registration fees are per person, we do not have group rates.</p>

                        <h5>I am not in the best of shape, can I still participate?</h5>
                        <p>Absolutely. The event is non-competitive and will not be timed, so there is no need to hustle to get through the course. We do recommend some light cardio a couple times per week paired with some upper body strengthening to help you get up and over the obstacles. However, you’ll have the option to bypass any obstacle that you’re not comfortable tackling.</p>

                        <h5>I am pregnant/have a medical issue, can I still participate?</h5>
                        <p>We may know how to put on an awesome event, but our prenatal/medical knowledge is limited. Consult your doctor before registering.</p>

                        <h5>What if I can’t complete a particular obstacle?</h5>
                        <p>All obstacles will be manageable. The more difficult obstacles will have varying degrees of difficulty to accommodate to different fitness levels. We would like you to try to complete each obstacle, but if you feel you can’t then you can go around.</p>

                        <h5>Will the obstacles be the same at every location?</h5>
                        <p>For the most part yes, however there might be slight variations at each event.</p>

                        <h5>Do I have to know how to swim to do the “H2OMG” water pit?</h5>
                        <p>No. The water pit will be knee to waist deep and you’ll have to traverse through it. Water wings are optional, and if you don’t feel comfortable you may always bypass the obstacle.</p>

                        <h5>When is the latest I can register?</h5>
                        <p>Unless an event sells out first, registration will be open until 2pm CDT the Friday before the event. Register early to ensure you get into the wave of your choice.</p>

                        <h5>Can I register the day of the event?</h5>
                        <p>No. Registration closes Friday before the event at 2pm CDT. All registrations need to be final prior to that.</p>

                        <h5>I need to transfer my registration to someone else, how do I do that?</h5>
                        <p>To transfer your registration to another person, you will need to log on to your Dirty Girl account.</p>
                        <ul>
                            <li>Go to ‘My Profile’, and select the option to ‘Edit My Run’</li>
                            <li>Click on the option to ‘Transfer My Registration to a Friend’</li>
                            <li>You will need to fill out the information of the participant who you are transferring your registration to and we will email them instructions on how to pick up your registration</li>
                        </ul>
                        <p>* Please note that when transferring to a friend, your spot in this run will only held for 72 hours from the time you submit the transfer. If your friend does not pick up your registration within 72 hours, your registration will be cancelled and you’ll be given compensation code to use on a different run.</p>
                        <p>* There is a $15 fee to transfer your registration.</p>

                        <h5>I can no longer participate, can I get a refund?</h5>
                        <p>We have a strict no refund policy and refunds will not be issued under any circumstances. If you are simply unable to make it you do have options. You can either transfer your registration to someone else or apply your registration to another Dirty Girl Mud Run. Applicable fees will be charged.</p>

                        <h5>What is the minimum age to participate?</h5>
                        <p>The minimum age to participate is 14 years old. Anyone under the age of 18 will need to have a parent or guardian accompany them to packet pick-up the day of the event. The parent or guardian must sign the waiver online during the registration process for any minor.</p>

                        <h5>Is the Dirty Girl Mud Run really for women only?</h5>
                        <p>Yes. But, great news, spectators are more and welcome to come cheer you on that day! Even better news, there is no charge. About the dogs (pets of any kind) though, we love em’ as much as you but they will need to stay at home that day.</p>

                        <h5>What if a wave is sold out?</h5>
                        <p>Each wave has a limited amount of space and once a wave is full it is sold out. Anyone who is already registered has the ability to switch to another open wave that day if there is still space available.</p>

                        <h5>Can I transfer the day of the event?</h5>
                        <p>No. All transfers need to be made prior to registration closing at 2pm CDT the Friday before the run.</p>

                        <h5>How do I register a team?</h5>
                        <p>The team captain will register first and create the team name by following the steps below:</p>
                        <ul>
                            <li>Select the wave (start) time for the team</li>
                            <li>In Step 3 of the registration, choose the option to register ‘with a team’ and then ‘I’m creating a new team’</li>
                            <li>Enter your team’s name in the box and click next</li>
                            <li>Once you complete your registration, you will be able to invite people to join your team</li>
                            <li>You’ll be given a team code that you can share with your team members</li>
                        </ul>
                        <p>*Each participant will register individually</p>

                        <h5>How big/small do teams have to be?</h5>
                        <p>A team can be as big or as small as you’d like.</p>

                        <h5>Do I have to be in a team to participate?</h5>
                        <p>No. You can participate as an individual or as a team; whatever suites you best.</p>

                        <h5>Why can’t I register from my phone/tablet?</h5>
                        <p>It is important to know that we are not compatible with smart phones or tablets yet so all registrations need to be completed from a computer.</p>

                        <h5>What is there for spectators to do?</h5>
                        <p>We will have a sponsor village for them to check out what our awesome sponsors are up to. There is plenty of mouth-watering event style concessions for them to enjoy. They will be able to soak up the vibe and energy at the start area. They will be able to cheer on their Dirty Girls as they cross the finish. We give access to view as much of the course as possible but safety of the participants is our #1 concern which means they may not have access to view the entire course and will not be allowed on the actual course at any point in time throughout the event.</p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>   
</div>     


<script type="text/javascript">

    $(document).ready(function () {

        var loadEventData = function () {

            $.ajax({
                type: "POST",
                url: 'Home/FilterEventDetails',
                data: $("#filterForm").serialize(),
                beforeSend: function () {
                    $("#EventDetail_List").find(".mCSB_container").html(function () {
                        return '<img src="../Images/ajax-loader-lg.gif"/>';
                    });
                },
                success: function (data) {
                    $("#EventDetail_List").find(".mCSB_container").html(data[0]);
                    DG.util.eventListScroller();
                }
            });

        }

        $(".filterItem").change(function () {
            loadEventData();
        });

        $("#lnkDate").click(function (e) {
            e.preventDefault();
            setSort("Date", this);
            loadEventData();
        });

        $("#lnkLocation").click(function (e) {
            e.preventDefault();
            setSort("Location", this);
            loadEventData();
        });

    });

    function setSort(sortBy, el) {
        var sortControl = $("#SortBy");
        var directionControl = $("#DirectionOfSort");

        var currentSort = sortControl.val();
        var currentDirection = directionControl.val();

        if (currentSort != sortBy) {
            sortControl.val(sortBy);
            directionControl.val('ASC');
            $(el).addClass("down");
            $(el).removeClass("up");
        }
        else {
            if (currentDirection == '' || currentDirection == "ASC") {
                directionControl.val("DESC");
                $(el).addClass("up");
                $(el).removeClass("down");
            }
            else {
                directionControl.val("ASC");
                $(el).addClass("down");
                $(el).removeClass("up");
            }
        }
    }

</script>