@model IList<EventDateOverview>
@if (Model.Count() == 0)
{
    <div class="eventschedule_singlerow">
        <div class="body-cta">
            <h5>No Events Found</h5>
        </div>
    </div>
}

@foreach (var e in Model)
{
    <div class="eventschedule_singlerow">
        <div class="body-date">
            <h5>@e.DateOfEvent.ToShortDateString()</h5>
        </div>
        <div class="body-location">
            <h5>@e.Location</h5>
            
             @*@if (e.DisplayIcon){<img src="@e.IconImagePath" />}*@
            @if (e.DisplayIcon) { <h3>Early Registration Price</h3>}
        </div>
        <div class="body-where">
            <p>
                @Html.ActionLink(e.Place, "viewevent", new { id = e.EventId }, null)
            </p>
        </div>
        <div class="body-cost">
           <p>@Html.DisplayFor(x => e.CurrentCost)</p>
        </div>
        @if (e.SpotsLeft <= @DirtyGirlConfig.Settings.DisplaySpotsAvailableCount)
        {
            <div class="body-openings">
                <p>Only <span class="pink">@e.SpotsLeft</span> spots left!</p>
            </div>
        }
        else
        {
            <div class="body-openings">
                <p>Spots available!</p>
            </div>
        }

        @if (e.isFull)
        {
            <div class="body-cta">
                <img src="@Url.Content("~/images/map-soldout.png")" />
            </div>
        }
        else
        {
            <div class="body-cta">
                <a class="btnPink" href="@Url.Action("viewevent", "home", new { id = e.EventId })">View Details</a>
            </div>
        }                          
    </div>
}                       
