@model IList<EventDateOverview>
@if (!Model.Any())
{
    <div class="eventschedule_singlerow">
        <div class="body-cta">
            <h5>No Events Found</h5>
        </div>
    </div>
}

@foreach (var e in Model)
{
    <div class="eventschedule_singlerow">
        <div class="body-date">
            <h5>@e.DateOfEvent.ToShortDateString()</h5>
        </div>
        <div class="body-location">
            <h5>@e.Location</h5>

            @*@if (e.DisplayIcon){<img src="@e.IconImagePath" />}*@
            @if (e.DisplayIcon)
            { <h3>Early Registration Price</h3>}
        </div>
        <div class="body-where">
            <p>
                <a href="@e.EventUrl">@e.Place</a>
            </p>
        </div>
        <div class="body-cost">
            <p>@Html.DisplayFor(x => e.CurrentCost)</p>
        </div>

        <div class="body-openings">
            @if (!e.isRegistrationCutoff)
            {
                if (e.SpotsLeft <= @DirtyGirlConfig.Settings.DisplaySpotsAvailableCount)
                {
                    if (e.SpotsLeft > 0)
                    {
                <p>Only <span class="pink">@e.SpotsLeft</span> spots left!</p>
                    }
                    else
                    {                
                        <p><span class="pink">Sold Out</span></p>
                    }

                }
                else
                {
                <p>Spots available!</p>                
                }
            }
            else
            {
                <p>Registration Closed</p>                
            }
        </div>
        <div class="body-cta">
            <a class="btnPink" href="@e.EventUrl">View Details</a>
        </div>


    </div>
}
