@model vmUser_UserList

@{
    ViewBag.Title = "ListUsers";
}

<h2>List Users</h2>
  @Html.TextBox("firstName", null, new { @class = "k-textbox seach-field listUser", @placeholder = "Search First Name" })
  @Html.TextBox("lastName", null, new { @class = "k-textbox seach-field listUser", @placeholder = "Search Last Name" })
  @Html.TextBox("userName", null, new { @class = "k-textbox seach-field listUser", @placeholder = "Search User Name" })
  @Html.TextBox("emailAddress", null, new { @class = "k-textbox seach-field listUser", @placeholder = "Search Email Address" })
&nbsp;
 <input type="button" id="search-button" class="k-button" value="Search" /> <input type="button" id="reset-button" class="k-button" value="Clear Search" />
<br/>
<br/>
<div id="GridResult"></div>

<div id="dataview"></div>

@(Html.Kendo().Grid(Model.Users)
    .Name("grdUsers")
    .Columns(cols =>
    {
        cols.Bound(u => u.IsActive);
        cols.Bound(u => u.UserId);
        cols.Bound(u => u.UserName).ClientTemplate("<a href='" + Url.Action("ViewUser", "User", new { id = "#=UserId#" }) + "'>#= UserName#</a>");
        cols.Bound(u => u.FirstName);
        cols.Bound(u => u.LastName);
        cols.Bound(u => u.UserName).ClientTemplate("<a href='" + Url.Action("ViewUser", "User", new { id = "#=UserId#" }) + "'>Edit Registrant</a>").Title("");
    })
    .Pageable()
    .Sortable()
    .Filterable()      
    .DataSource(dataSource => dataSource
        .Ajax() // Specify that the data source is of ajax type
        .ServerOperation(true)
        .PageSize(25)
        .Read(read => read.Action("SearchUsers", "User" ).Data("SearchData")) // Specify the action method and controller name
    )
    
)



<script>
    var dataList;
    
    $(document).ready(function () {
        $("#search-button").on('click', function () {
            var grid = $("#grdUsers").data("kendoGrid");
            grid.dataSource.page(1);
        });

        $("#reset-button").on('click', function () {
            $("#firstName").val("");
            $("#lastName").val("");
            $("#userName").val("");
            $("#emailAddress").val("");
            var grid = $("#grdUsers").data("kendoGrid");
            grid.dataSource.page(1);
        });

    });
    
    function SearchData() {
        return {
            firstName: $('#firstName').val(),
            lastName: $('#lastName').val(),
            userName: $('#userName').val(),
            emailAddress: $('#emailAddress').val()
        };
    }

</script>


