@model vmUser_SetPassword

@{
    ViewBag.Title = "SetPassword";
}

<h2>SetPassword</h2>

@using (Html.BeginForm())
{  
    @Html.HiddenFor(u => u.UserId)
    <div class="entryRow">
        @Html.Label(Model.Username)
    </div>
    <br />
    @Html.ValidationSummary(false, "Please fix the following errors before continuing.")
    <br />
    <div class="entryRow">
        <div class="entryLabel">New Password:</div>
        <div class="entryInput">
            @Html.TextBoxFor(u => u.NewPassword)
            @Html.ValidationMessageFor(u => u.NewPassword, "*")
        </div>
    </div>
    <div class="entryRow">
        <div class="entryLabel">Verify New Password:</div>
        <div class="entryInput">
            @Html.TextBoxFor(u => u.NewPasswordVerification)
            @Html.ValidationMessageFor(u => u.NewPasswordVerification, "*")
        </div>
    </div>
    <input type="submit" value="Save" />
}

