@model vmTeam_Details
@{
    ViewBag.Title = "ViewTeam";
}



<script>
    $(document).ready(function () {
        //DG.util.initInviteFriendModal();
        DG.util.teamChatScrollbar();
        //$("#mcs_container2").mCustomScrollbar("vertical", 365, "easeOutCirc", 1.05, "auto", "yes", "yes", 10);
    });
</script>
<div id="eventDetail">
    <div class="pinkborder_left">
        <div id="eventDetailContainer">
            @Html.Partial("_Hero")
            <div id="eventDetailContent" class="profileColumn">
                <div class="profileContent">
                    <div class="viewMyProfile">
                        @*<img class="mini_pp" src="@Url.Content("~/images/fpo_teammate.jpg")" />*@
                        <a href='@Url.Action("ViewUser", "User", new { userId = CurrentUser.UserId })'>
                            @if (Model.User.UseFacebookImage)
                            {
                                <img src="@FacebookOpenGraph.Graph.FacebookGraph.GetProfilePhoto(Model.User.FacebookId.ToString())" alt="Manage my Profile" class="mini_pp" /> 
                            }
                            else if (Model.User.Image != null)
                            {
                                <img src='@Url.Action("UserImage", "User", new { userId = CurrentUser.UserId })' alt="Manage my Profile" class="mini_pp" /> 
                            }
                            else
                            {
                                <img src="@Url.Content("~/images/fpo_teammate.jpg")" alt="Manage my Profile" class="mini_pp" />
                            }
                            <img src="@Url.Content("~/images/btn_viewprofile.png")" />
                        </a>
                    </div>
                    <h2>TEAM COMMUNICATION</h2>
                    <div class="jointeam_container">
                        <h5>TEAM: </h5><h3>@Html.DisplayFor(model => model.Team.Name)</h3>
                    </div>
                    
                    @if (Model.Team.CreatorID == CurrentUser.UserId)
                    { 
                    <div class="change-team-name">
                        <a href="#" class="change-team">Change team name</a>
                        <div class="new-team-name">
                            <p><span class="pink">*</span>Enter new team name</p>
                            <input id="teamName" type="text" onkeyup="VerifyTeamName()" style="margin-right: 20px; z-index: 999" />
                            <input id="changeTeamButton" class="btnPink" type="button" value="UPDATE" onclick="ChangeTeamName()" />
                            <div id="changeTeamResults"></div>               
                        </div>
                    </div>
                    }

                    <div class="teamChat_container">
                        <div class="teamChat_left">
                            @if (Model.EventWave != null)
                            {
                                foreach (EventWave eventWave in Model.EventWave)
                                {
                                    <div class="teamChat_runDetail">
                                        <h3>RUN REGISTERED FOR:</h3>
                                        <p><span>Date:</span> @eventWave.StartTime.ToString("M/d/yyyy") </p>
                                        <p><span>Location:</span>@Html.DisplayFor(model => model.Team.Event.GeneralLocality) </p>
                                        <p><span>Team Code:</span>@Html.DisplayFor(model => model.Team.Code) </p>
                                        @*<p><span>Time:</span> @eventWave.StartTime.ToString("hh:mm tt") </p>*@
                                    </div>

                            
                                    <div class="teammates">
                             
                                        <div class="teammate_container">
                                            <div id="mcs_container2" class="teammateScroll">
                                                <div class="customScrollBox">
                                                    <div class="scroller_container">
                                                        <div class="scroller_content">
                                                            @foreach (Registration registration in eventWave.Registrations)
                                                            {
                                                                <div class="single_teammate">
                                                                    <a href="javascript:void(0);" class="single_avatar">
                                                                        @if (registration.User.UseFacebookImage)
                                                                        {
                                                                            <img src="@FacebookOpenGraph.Graph.FacebookGraph.GetProfilePhoto(registration.User.FacebookId.ToString())" /> 
                                                                        }
                                                                        else if (registration.User.Image != null)
                                                                        {
                                                                            <img src='@Url.Action("UserImage", "User", new { Userid = registration.User.UserId })' /> 
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src="@Url.Content("~/images/fpo_teammate.jpg")" />
                                                                        }
                                                                        <span>@eventWave.StartTime.ToString("hh:mm tt")</span>
                                                                    </a>
                                                                    <p>
                                                                        <span>@registration.FirstName</span><br /><span>@registration.LastName</span>
                                                                    </p>
                                                                </div>    
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="dragger_container">
                                                        <div class="dragger"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="teamChat_left_separator">&nbsp;</div>
                                }
                            }
                        </div>
                        <div class="teamChat_right">
                            <h3>@Html.DisplayFor(model => model.Team.Name) MESSAGE BOARD</h3>
                            <div class="messageBoard">
                                <div class="messageBoardContent">
                                    @Html.Partial("Partial/MessageBoardPosts", @Model.Team.TeamPosts)
                                </div>
                                <div class="messageBoardPost">
                                    <input class="text" type="text" id="postText" />
                                    <span class="postError"></span><input class="button btnPink" type="submit" value="post" onclick="CreatePost()" />
                                </div>
                            </div>
                            <div class="teamChat_right_cta">
                                @if (Model.IsTeamMember)
                                {
                                    <a href="#" class="showInviteFriend" onclick="ShowInviteDialog_1()"><img src="@Url.Content("~/images/btn_invite.png")" /></a>
                                }
                                
<!--                            <a target="_blank" href="http://www.nationalbreastcancer.org/about-nbcf/dirty-girl-mud-run-fundraising"><img src="@Url.Content("~/images/btn_Donation.png")" /></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pinkborder_bottom">&nbsp;</div>
</div>

@Html.Partial("ShareWithOthers", new vmCommon_Share
{
    InstanceNumber = 1,
    EmailAddresses = "",
    MessageBody = ViewBag.ShareBody,
    MessageSubject = "Join my Dirty Girl Mud Run team!",
    Title = "Team Invite"
})

<script>

    $(".change-team-name").on("click", ".change-team", function (e) {
        e.preventDefault(); 
        $(this).next(".new-team-name").slideToggle("fast");
    });

    function ChangeTeamName() {
        if ($('#teamName').val().length > 3) {
            $.ajax({
                url: '@Url.Action("ChangeTeamName", "Team")',
                data: { teamId: "@(Model.Team.TeamId)", eventId: "@(Model.Event.EventId)", newTeamName: $('#teamName').val() },
                type: 'POST',
                beforeSend: function () {
                    $('#changeTeamResults').html('<img src="../Images/ajax-loader.gif"/>').removeClass('red');
                },
                success: function (data) {
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    } else {
                        $('#changeTeamResults').html(data).addClass('red');
                    }
                },
                error: function (data, status, jqXhr) {
                    //alert("FAILED: " + data);
                }
            });
        }
        else {
            $('#changeTeamResults').html("Team Name is required").addClass('red');
        }
    }

    function VerifyTeamName() {
        if ($('#teamName').val().length > 3) {
            $.ajax({
                beforeSend: function() {
                    $('#changeTeamResults')
                        .html(function() {
                            return '<img src="../Images/ajax-loader.gif"/>';
                        });
                },
                url: '@Url.Action("VerifyTeamNameAvailability", "Team")',
                data: { EventId: '@Model.Event.EventId', TeamName: $('#teamName').val() },
                type: 'POST',
                success: function (isValid) {
                    var result = $('#changeTeamResults');
                    if (isValid == "") {
                        result.html('Team Name Available').removeClass('red');
                    } else {
                        result.html(isValid).addClass('red');
                    }                    
                },
                error: function(data, status, jqXhr) {
                    //alert("FAILED: " + data.status + " " + data.responseText);
                }
            });
        } 
    }
    
    function CreatePost() {
        if ($('#postText').val().length > 0) {
            $.ajax({
                url: '@Url.Action("CreateTeamPost", "Team")',
                data: { teamId: "@(Model.Team == null ? -1 : Model.Team.TeamId)", post: $('#postText').val() },
                type: 'POST',
                success: function(data) {
                    $(".messageBoardContent").html(data);
                    $('#postText').val("");

                    DG.util.teamChatScrollbar();
                    
                    $(".postError").html("");

                },
                error: function(data, status, jqXhr) {
                    $(".postError").html("FAILED: " + data.status + " " + data.responseText);
                }
            });
        } else {
            $(".postError").html("Please enter a message to share.");
        }
    }
</script>
