@{
    ViewBag.Title = "Profile";
}

<div id="eventDetail">
    <div class="pinkborder_left">
        <div id="eventDetailContainer">
            <div class="hero">
                <img src="@Url.Content("~/images/hero_profile.jpg")" />
            </div>
            <div id="eventDetailContent" class="profileColumn">
                <div class="profileContent">
                    <h2>PROFILE</h2>
                    <h3>WELCOME BACK, JANE!</h3>
                    <div class="profileInfoContent">
                        <div class="profilePicture">
                            <div class="pp_frame">
                                <img src="@Url.Content("~/images/login-photo.png")" />
                            </div>
                            <div class="pp_content">
                                <img src="@Url.Content("~/images/fpo-pp.jpg")" />
                            </div>
                        </div>
                        <div class="profileDetail">
                            <div class="profileDetailBasic">
                                <div class="profileUsername">
                                    <h3>Jane Weiss</h3>
                                </div>
                                <div class="basicInfo">
                                    <h4>BIRTH DATE: <span>07/01/1980</span></h4>
                                    <h4>FROM: <span>Ann Harbor, Michigan</span></h4>
                                    <h4>RUNS COMPLETED: <span>1</span></h4>
                                </div>
                            </div>
                            <div class="runDetail">
                                <div class="runDetailTop-ui">
                                    <img src="@Url.Content("~/images/ui-rundetail-top.png")" />
                                </div>
                                <div class="runDetailContent">
                                    <h4>YOUR UPCOMING RUNS:</h4>
                                    <div class="single_rundetail">
                                        <p><span>Date:</span> September 26, 2012</p>
                                        <p><span>Location:</span> Miami Convention Arena, Miami, Florida</p>
                                        <p><span>Wave:</span> Wave 3 - 9-30 am</p>
                                        <p><span>Registration Paid:</span> $75.00</p>
                                        <a href="#" class="button_createTeam"><img src="@Url.Content("~/images/btn_createTeam.png")" /></a>
                                        <a href="#" class="button_editRun"><img src="@Url.Content("~/images/btn_editRun.png")" /></a>
                                    </div>
                                    <div class="single_rundetail">
                                        <p><span>Date:</span> September 26, 2012</p>
                                        <p><span>Location:</span> Miami Convention Arena, Miami, Florida</p>
                                        <p><span>Team:</span> The Dirty Girls</p>
                                        <p><span>Team Code:</span> XXXXXX</p>
                                        <p><span>Wave:</span> Wave 3 - 9-30 am</p>
                                        <p><span>Registration Paid:</span> $75.00</p>
                                        <a href="#" class="button_talk"><img src="@Url.Content("~/images/login-talk-to-my-team-btn.jpg")" /></a>
                                        <a href="#" class="button_createTeam"><img src="@Url.Content("~/images/login-invite-people-btn.jpg")" /></a>
                                        <a href="#" class="button_editRun"><img src="@Url.Content("~/images/btn_editRun.png")" /></a>
                                    </div>
                                </div>
                                <div class="runDetailBottom-ui">
                                    <img src="@Url.Content("~/images/ui-rundetail-bottom.png")" />
                                </div>
                            </div>
                            <div class="profileEditTools">
                                <a href="#"><img src="@Url.Content("~/images/btn_editProfile.png")" /></a>
                                <a href="#"><img src="@Url.Content("~/images/btn_registerRun.png")" /></a>
                                <a href="#"><img src="@Url.Content("~/images/btn_makeDonation.png")" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pinkborder_bottom">&nbsp;</div>
</div>




