@{
    ViewBag.Title = "ThankYou";
}

<div id="eventDetail">
    <div class="pinkborder_left">
        <div id="eventDetailContainer">
            <div class="hero">
                <img src="@Url.Content("~/images/dg-header.jpg")" />
            </div>
            <div id="eventDetailContent" class="twoColumn">
                <div class="contentMain">
                    <div class="contentMain_header">
                        <h6>Thank you for registering for a Dirty Girl Run!</h6>
                    </div>
                    <div class="contentMain_copy register thankyou">
                        <div class="thankyou_content">
                            <h3>Run Confirmation Information</h3>
                            <p><span>Date:</span> September 26, 2012</p>
                            <p><span>Location:</span> Miami Convention Arena, Miami, Florida</p>
                            <p><span>Wave:</span> Wave 3 - 9-30 am</p>
                            <p><span>Registration Paid:</span> $75.00</p>
                            <div class="thankyou_cta">
                                <a href="#"><img src="@Url.Content("~/images/btn_editProfile.png")" /></a>
                                <a href="#" class="showInviteFriend"><img src="@Url.Content("~/images/btn_invite.png")" /></a>
                            </div>
                        </div>
                        <div class="register_next">
                            <div class="register_next_copy">
                                
                            </div>
                            <div class="register_next_button">
                                <a href="#">NEXT</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contentSidePanel">
                    <div class="contentSidePanel_top">&nbsp;</div>
                    <div class="contentSidePanel_side">
                        <div class="contentSideFaq">
                            <div class="contentSideTy">
                                <div class="single_contentSideTy">
                                    <h3>Don't forget attire</h3>
                                    <div style="text-align: center;">
                                        <img src="@Url.Content("~/images/img_attire.jpg")" />
                                    </div>
                                    <p>Get your team dirty in style with custom Dirty Girl gear.</p>
                                    <a href="#"><img src="@Url.Content("~/images/btn_viewmerch.png")" /></a>
                                </div>
                                <div class="single_contentSideTy">
                                    <h3>Tell Your Friends</h3>
                                    <div class="socialShare">
                                        <a href="#"><img src="@Url.Content("~/images/img_pinterest.png")" /></a>
                                        <a href="#"><img src="@Url.Content("~/images/img_facebook.png")" /></a>
                                        <a href="#"><img src="@Url.Content("~/images/img_twitter.png")" /></a>
                                    </div>
                                    <p>Pin pictures, Tweet us and Like Us, the more the merrier! We’d love to hear what you have to say.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contentSidePanel_bottom">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pinkborder_bottom">&nbsp;</div>
</div>




