@model DirtyGirl.Web.Models.vmUser_ChangePassword

@{
    ViewBag.Title = "ChangePassword";
}

<style>
    .single_input input { width:350px;}
    .oneColumn .registration_form { width:auto;}
</style>

@using (Html.BeginForm())
{
<div id="eventDetail">
    <div class="pinkborder_left">
        <div id="eventDetailContainer">
            <div class="hero">
                <img src="@Url.Content("~/images/dg-header.jpg")" />
            </div>
            <div id="eventDetailContent" class="oneColumn">
                <div class="contentMain">
                    <div class="contentMain_copy register form account">
                        <h2>Change Password for: @Model.Credentials.Username</h2>
                        <div class="registration_form">
                            <div class="registration_form_message">
                                @Html.ValidationSummary(false, "Please fix the following errors before continuing.")
                                @Html.HiddenFor(u => u.Credentials.Username)
                                @Html.HiddenFor(u => u.Credentials.UserId)
                            </div>
                            <div class="registration_form_content">
                                <div class="single_row">
                                    <div class="single_input text">
                                        <p><span class="pink">*</span>Old Password</p>
                                        @Html.PasswordFor(u => u.OldPassword)
                                        @Html.ValidationMessageFor(u => u.OldPassword, "*")
                                    </div>
                                </div>
                                <div class="single_row">
                                    <div class="single_input text">
                                        <p><span class="pink">*</span>New Password</p>
                                        @Html.PasswordFor(u => u.Credentials.NewPassword)
                                        @Html.ValidationMessageFor(u => u.Credentials.NewPassword, "*")
                                    </div>
                                </div>
                                <div class="single_row">
                                    <div class="single_input text">
                                        <p><span class="pink">*</span>Verify New Password</p>
                                        @Html.PasswordFor(u => u.Credentials.NewPasswordVerification)
                                        @Html.ValidationMessageFor(u => u.Credentials.NewPasswordVerification, "*")
                                    </div>
                                </div>
                                <br /><br />
                                <div class="single_row">
                                    <div class="single_input" style="margin-right:20px;">
                                        <a style="margin-right:10px;" class="btnPink" href="@Url.Content("~/User/EditUser/"+Model.Credentials.Username)">CANCEL</a>
                                    </div>
                                    <div class="single_input" style="margin-right:20px;">
                                        <input type="submit" value="Save" class="btnPink" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                       @* <div class="register_next">
                            <div class="register_next_copy">
                                
                            </div>
                            <div class="register_next_button">
                                <a href="#">NEXT</a>
                                <input type="submit" value="Save" />
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pinkborder_bottom">&nbsp;</div>
</div>
}







@*@using (Html.BeginForm())
{  
    @Html.HiddenFor(u => u.Credentials.Username)
    @Html.HiddenFor(u => u.Credentials.UserId)
    <br />
    @Html.ValidationSummary(false, "Please fix the following errors before continuing.")
    <br />
    <div class="entryRow">
        <div class="entryLabel">Old Password:</div>
        <div class="entryInput">
            @Html.TextBoxFor(u => u.OldPassword)
            @Html.ValidationMessageFor(u => u.OldPassword, "*")
        </div>
    </div>
    <div class="entryRow">
        <div class="entryLabel">New Password:</div>
        <div class="entryInput">
            @Html.TextBoxFor(u => u.Credentials.NewPassword)
            @Html.ValidationMessageFor(u => u.Credentials.NewPassword, "*")
        </div>
    </div>
    <div class="entryRow">
        <div class="entryLabel">Verify New Password:</div>
        <div class="entryInput">
            @Html.TextBoxFor(u => u.Credentials.NewPasswordVerification)
            @Html.ValidationMessageFor(u => u.Credentials.NewPasswordVerification, "*")
        </div>
    </div>
    <input type="submit" value="Save" />
    <br />
    @Html.ActionLink("Cancel", "EditUser", new { id = Model.Credentials.UserId.ToString() })
}*@
